cluster.name: elastic-cluster
node.name: {{ inventory_hostname }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: 0.0.0.0
http.port: 9200

discovery.seed_hosts:
{% for host in groups['role_elk'] %}
  - {{ hostvars[host]['ansible_host'] | default(hostvars[host]['ansible_default_ipv4']['address']) }}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups['role_elk'] %}
  - {{ host }}
{% endfor %}

# Security settings - disabling for simplicity of "no error" one-click setup, 
# though not recommended for production without further config.
xpack.security.enabled: false
xpack.security.enrollment.enabled: false
