# ======================== Elasticsearch Configuration =========================
cluster.name: elk-cluster
node.name: "node-{{ inventory_hostname | replace('.', '-') }}"
# Path to directory where to store data
path.data: /var/lib/elasticsearch
# Path to log files
path.logs: /var/log/elasticsearch
# Network configuration
network.host: {{ elasticsearch_host }}
http.port: {{ elasticsearch_port }}
discovery.seed_hosts:
{% for host in groups['role_elk'] %}
  - {{ hostvars[host].ansible_host }}
{% endfor %}
cluster.initial_master_nodes:
{% for host in groups['role_elk'] %}
  - "node-{{ host | replace('.', '-') }}"
{% endfor %}
# ======================== X-Pack Security =====================================
xpack.security.enabled: true
xpack.security.http.ssl.enabled: false
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.certificate: certs/elastic-node.crt
xpack.security.transport.ssl.key: certs/elastic-node.key
xpack.security.transport.ssl.certificate_authorities: ["certs/ca.crt"]
