[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False
roles_path = ./roles
stdout_callback = yaml
deprecation_warnings = False
retry_files_enabled = False
remote_user = ubuntu
private_key_file = ~/.ssh/my-ec2-keypair.pem
interpreter_python = /home/anshul_kotiya/one-click-elk-infra/ansible/.venv/bin/python

